body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.logo{

    width: 60px;
    height: 60px;
    vertical-align: middle;
}


h1{
    display: inline-block;
    vertical-align: middle;
 
    
}

main{
    background-color: whitesmoke;
   
}




.container{
   
    background-color: white;
    border-radius:  100px 100px 100px 100px;
    width: 900px;
    margin: 0 auto;
    border: 60px solid whitesmoke;
   

   
   
}

.sectionbotton{

    border-bottom: solid 5px;
    border-color: whitesmoke;
    padding: 10px 80px 10px 80px;

}


.selectedbutton {
    background-color: #3a94b4; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 10px 27px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
  }

  .unselectedbutton{

    background-color: #ffffff; 
    border: solid gray;
    border-radius: 10px 10px 10px 10px;
    color: rgb(0, 0, 0);
    padding: 8px 25px;
    text-align: center;
    display: inline-block;
    font-size: 14px;


  }


  #testogrigio{

    color: gray;
  }


.contenutopagina{

    padding-left: 50px;
  }


  ul{

    list-style: none;
  }

  /* .elementcheck{

    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(80, 255, 80);
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: green;
    position: relative;
    right: 10px;
    
  } */

  li{

    line-height: 50px;
  }



 .elementcheck::before{

    content: "\2713";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(80, 255, 80);
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: green;
    position: relative;
    right: 10px;
  }

  .elementcross::before{

    content: "\00d7";
    display: inline-block;
    height: 20px;
    width: 20px;
    border: 1px solid rgb(255, 50, 50);
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: rgb(217, 10, 10);
    position: relative;
    right: 10px;
  }


  .editorial{
    
    display: inline-block;
    background-color: #3a94b4; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 1px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;
    


  }


  .q1goals{

    display: inline-block;
    background-color: #6d59c6; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;


  }


  .recruiting{

    display: inline-block;
    background-color: #59c65c; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;


  }


  .mobile{

    display: inline-block;
    background-color: #cf9126; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;

  }


  .website{


    display: inline-block;
    background-color: #cf26b9; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;

    
  }


  .sales{

    display: inline-block;
    background-color: #8bc978; 
    border-radius: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    padding: 5px 15px;
    text-align: center;
    display: inline-block;
    font-size: 11px;

  }